*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      scroll-padding-top: 0rem; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  position: relative; }

body {
  font-family: "Rubik", sans-serif;
  color: #555; }

.heading__primary {
  font-size: 5.2rem;
  line-height: 1.05;
  font-weight: 700;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
  color: #333; }

.heading__secondary {
  letter-spacing: -0.5px;
  font-weight: 700;
  font-size: 4.4rem;
  position: relative;
  line-height: 1.8;
  display: inline-block; }
  .heading__secondary::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40%;
    height: 3px; }
    @media only screen and (max-width: 37.5em) {
      .heading__secondary::after {
        left: 50%;
        transform: translateX(-50%); } }
  .heading__secondary--bg-white {
    color: #333; }
    .heading__secondary--bg-white::after {
      background-color: #27ae60 !important; }
  .heading__secondary--bg-green {
    color: #fff; }
    .heading__secondary--bg-green::after {
      background-color: #fff; }

.heading__tertiary {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem; }

.position-sticky {
  position: sticky;
  top: 2rem; }

.mb-md {
  margin-bottom: 2rem !important; }

.mb-lg {
  margin-bottom: 4rem !important; }

.mb-xlg {
  margin-bottom: 8rem !important; }

.align-items-center {
  align-items: center; }

.justify-content-center {
  align-items: center; }

.text-center {
  text-align: center; }

.btn {
  display: inline-block;
  text-decoration: none;
  border: none;
  border-radius: 0.9rem;
  cursor: pointer;
  font-size: 2rem;
  transition: all 0.3s;
  font-weight: 600; }
  .btn--form {
    background-color: #0c450a;
    padding: 1.2rem;
    color: #d4efdf;
    transition: all 0.3s; }
    .btn--form:hover {
      background-color: #d4efdf;
      color: #0c450a; }
  .btn--full {
    background-color: #27ae60;
    color: #fff;
    padding: 1.6rem 3.2rem; }
  .btn--mobile-nav {
    transform: translateX(-8rem);
    cursor: pointer;
    background-color: transparent;
    display: none;
    padding: 0.6rem 1.2rem; }
    @media only screen and (max-width: 56.25em) {
      .btn--mobile-nav {
        display: block; } }

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333; }

.icon-mobile-nav[name="close-outline"] {
  display: none; }

.nav-open .icon-mobile-nav[name="close-outline"] {
  display: block; }

.nav-open .icon-mobile-nav[name="menu-outline"] {
  display: none; }

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background: #28af60;
  background: linear-gradient(90deg, rgba(40, 175, 96, 0.7) 0%, #28af60 100%);
  background: -moz-linear-gradient(90deg, rgba(40, 175, 96, 0.7) 0%, #28af60 100%);
  background: -webkit-linear-gradient(90deg, rgba(40, 175, 96, 0.7) 0%, #28af60 100%);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  overflow: hidden; }
  @media only screen and (max-width: 37.5em) {
    .cta {
      grid-template-columns: 1fr; } }
  .cta__text-box {
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    color: #0c450a; }
  .cta__heading {
    font-size: 4.4rem;
    line-height: 1.2;
    margin-bottom: 3.2rem; }
  .cta__text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 4.8rem; }
  .cta__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3.2rem;
    row-gap: 2.4rem; }
    @media only screen and (max-width: 56.25em) {
      .cta__form {
        grid-template-columns: 1fr; } }
  .cta__form input,
  .cta__form textarea {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    font-family: inherit;
    border: none;
    background-color: #fdf2e9;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: inherit;
    box-sizing: border-box; }
  .cta__form textarea {
    height: 10rem;
    resize: none; }
  .cta__form label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem; }
  .cta__group--textarea {
    grid-column: 1 / -1; }
  .cta__img-box {
    background-image: linear-gradient(to right bottom, rgba(39, 174, 96, 0.35), rgba(39, 174, 96, 0.35)), url(../images/plant-image.jpg);
    background-size: cover;
    background-position: center; }
    @media only screen and (max-width: 37.5em) {
      .cta__img-box {
        height: 32rem;
        grid-row: 1; } }

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee; }
  @media only screen and (max-width: 75em) {
    .footer {
      padding: 9.6rem; } }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 8rem; } }
  @media only screen and (max-width: 37.5em) {
    .footer {
      padding: 4.8rem; } }
  .footer__logo-col {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo-col {
        grid-row: 3; } }
  .footer__logo {
    height: 20rem;
    display: block;
    margin-bottom: 3.2rem; }
  .footer__copyright {
    font-size: 1.4rem;
    line-height: 1.2;
    margin-top: auto; }

.grid--footer {
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); }
  @media only screen and (max-width: 56.25em) {
    .grid--footer {
      gap: 2.4rem !important;
      grid-template-rows: auto; } }

.contact {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem; }
  .contact__item {
    display: flex;
    align-items: center;
    gap: 1.2rem; }
    .contact__item span {
      color: #555;
      font-size: 1.6rem; }
  .contact__icon {
    width: 2.4rem;
    height: 2.4rem;
    padding: 1rem;
    border: 1px solid #555;
    border-radius: 50%;
    display: block; }
  .contact__link, .contact__link:link, .contact__link:visited {
    font-size: 1.6rem;
    text-decoration: none;
    transition: all 0.3s;
    color: #555;
    display: flex;
    gap: 0.8rem;
    align-items: center; }

.container {
  max-width: 120rem;
  margin: 0 auto; }
  @media only screen and (max-width: 75em) {
    .container {
      padding: 0 8rem; } }
  @media only screen and (max-width: 37.5em) {
    .container {
      padding: 4.8rem; } }

.grid {
  display: grid;
  gap: 9.6rem; }
  @media only screen and (max-width: 56.25em) {
    .grid {
      gap: 8rem; } }

.grid--col-2 {
  grid-template-columns: repeat(2, 1fr); }
  @media only screen and (max-width: 75em) {
    .grid--col-2 {
      grid-template-columns: 1fr;
      grid-gap: 0; } }

.grid--col-3 {
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); }
  @media only screen and (max-width: 37.5em) {
    .grid--col-3 {
      grid-gap: 12.8rem; } }

.header {
  position: fixed;
  top: 0;
  display: flex;
  background-color: #fff;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5.2rem 1rem 4.8rem;
  z-index: 9999;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; }
  @media only screen and (max-width: 56.25em) {
    .header {
      padding-top: 0;
      padding-bottom: 0;
      width: 100%; } }

.logo {
  display: block;
  height: 6rem; }
  @media only screen and (max-width: 37.5em) {
    .logo {
      height: 3rem; } }

@media only screen and (max-width: 56.25em) {
  .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(100%);
    transition: all 0.3s;
    opacity: 0; } }

.main-nav__list {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  list-style: none; }
  @media only screen and (max-width: 56.25em) {
    .main-nav__list {
      background-color: rgba(255, 255, 255, 0.95);
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      gap: 4.8rem; } }

.main-nav__link, .main-nav__link:link, .main-nav__link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s; }
  @media only screen and (max-width: 56.25em) {
    .main-nav__link, .main-nav__link:link, .main-nav__link:visited {
      font-size: 2.4rem; } }

.main-nav__link:active, .main-nav__link:hover {
  color: #27ae60; }

.nav-open .main-nav {
  transform: translateX(0);
  opacity: 1; }

.section {
  padding: 9.6rem 0; }
  @media only screen and (max-width: 56.25em) {
    .section {
      padding: 8rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .section {
      padding: 6.2rem 0; } }

/********************************
*** SECTION HERO
********************************/
.section__hero {
  background-color: #d4efdf;
  padding: 4.8rem 0 9.6rem 0;
  margin-top: 6rem; }
  @media only screen and (max-width: 56.25em) {
    .section__hero {
      margin-top: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .section__hero {
      padding: 0; } }

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 130rem;
  margin: 0 auto;
  align-items: center;
  gap: 9.6rem;
  padding: 3.2rem; }
  @media only screen and (max-width: 75em) {
    .hero {
      padding: 9.6rem; } }
  @media only screen and (max-width: 56.25em) {
    .hero {
      gap: 6.4rem; } }
  @media only screen and (max-width: 37.5em) {
    .hero {
      grid-template-columns: 1fr;
      justify-items: center;
      padding: 4.8rem;
      gap: 3.2rem; } }
  .hero__text-box {
    padding: 6.4rem; }
    @media only screen and (max-width: 75em) {
      .hero__text-box {
        padding: 3.2rem; } }
    @media only screen and (max-width: 37.5em) {
      .hero__text-box {
        text-align: center; } }
  .hero__description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem; }
  .hero__img {
    display: block; }
    @media only screen and (max-width: 37.5em) {
      .hero__img {
        width: 100%; } }

/********************************
*** SECTION ABOUT
********************************/
.about {
  grid-template-columns: 1fr 3fr; }
  @media only screen and (max-width: 37.5em) {
    .about {
      grid-template-columns: 1fr;
      justify-items: center;
      gap: 3.2rem; } }
  .about__description {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 2.4rem; }
    @media only screen and (max-width: 37.5em) {
      .about__description {
        text-align: center; } }

/********************************
*** SECTION RPODUCT
********************************/
.section__products {
  background-color: #27ae60; }

.products__text-box {
  padding: 9.6rem 9.6rem 9.6rem 0;
  color: #e9f7ef;
  align-self: center; }
  @media only screen and (max-width: 75em) {
    .products__text-box {
      padding: 9.6rem; } }

.products__image {
  width: 100%;
  display: block; }

.products__description {
  font-size: 1.8rem;
  line-height: 1.8; }
  @media only screen and (max-width: 37.5em) {
    .products__description {
      text-align: center; } }

/********************************
*** SECTION TEAM
********************************/
@media only screen and (max-width: 37.5em) {
  .section__team {
    text-align: center; } }

.team__heading-text {
  font-size: 1.8rem;
  line-height: 1.8;
  width: 70%;
  margin-top: 4.8rem;
  margin-bottom: 9.6rem; }
  @media only screen and (max-width: 37.5em) {
    .team__heading-text {
      margin: 4.8rem auto 9.6rem; } }

.team__member {
  text-align: center; }

.team__img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 6rem; }
  .team__img-box::before, .team__img-box::after {
    content: "";
    display: block;
    background-color: #d4efdf;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .team__img-box::before {
    width: 70%;
    padding-bottom: 70%;
    z-index: -2; }
  .team__img-box::after {
    width: 60%;
    padding-bottom: 60%;
    background-color: #93d7b0;
    z-index: -1; }

.team__img {
  display: block;
  border-radius: 50%;
  width: 50%; }

.team__title {
  font-size: 2rem;
  line-height: 1.8;
  margin-bottom: 1rem; }

.team__details {
  font-size: 1.6rem;
  line-height: 1.6; }

.team__descriptions {
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.8;
  width: 70%;
  margin: 0 auto; }

/********************************
*** SECTION INVESTMENT
********************************/
.section__investment {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #fff; }
  @media only screen and (max-width: 56.25em) {
    .section__investment {
      background-attachment: scroll; } }

.investment__text {
  font-size: 1.8rem;
  line-height: 1.8; }

/********************************
*** SECTION BUSINESS
********************************/
.business {
  width: 80rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 6.2rem;
  gap: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .business {
      width: 100%;
      margin-top: 4.8rem; } }
  .business__card {
    border: 2px solid #27ae60;
    padding: 4.8rem 4.8rem 4.8rem 6.2rem;
    position: relative; }
    @media only screen and (max-width: 56.25em) {
      .business__card {
        padding: 6.2rem 4.8rem 4.8rem 4.8rem; } }
    .business__card::before {
      content: attr(number);
      width: 9.6rem;
      height: 9.6rem;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: #fff;
      border: 2px solid #27ae60;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.4rem; }
      @media only screen and (max-width: 56.25em) {
        .business__card::before {
          left: 50%;
          top: 0;
          transform: translate(-50%, -50%); } }
  .business__text {
    font-size: 1.8rem;
    line-height: 1.8; }
